<!DOCTYPE html>
<html>
	<head>
		<title>Ruby On Rails tutorial micropost_app | about</title>
			
	</head>
	<body>
		<h1>This is the about page  </h1>

		<p>Find me in app/views/pages/about.html.erb</p>
	</body>
</html>

