<!DOCTYPE html>
<html>
	<head>
		<title>Ruby On Rails tutorial micropost_app | contact</title>
			
	</head>
	<body>
		<h1>This is the contact page </h1>

		<p>Find me in app/views/pages/contact.html.erb</p>
	</body>
</html>
