<!DOCTYPE html>
<html>
	<head>
		<title>Ruby On Rails tutorial micropost_app | Home</title>
			
	</head>
	<body>
		<h1>This is the home page</h1>

		<p>Find me in app/views/pages/home.html.erb</p>
	</body>
</html>
