<footer>
	<nav class ="round">
		<ul>
			<li>
				<%= link_to "about" , '#'%>
				<%= link_to "contact" , '#'%>
				<%= link_to "News" , 'http://news.railstutorials.org/'%>
				<%= link_to "rails tutorials" , 'http://railstutorials.org'%>
			</li>
		</ul>
</footer>
