<footer>
	<nav class ="round">
		<ul>
			<li>
				<%= link_to "about" , about_path %>
				<%= link_to "contact" , contact_path%>
				<%= link_to "News" , 'http://news.railstutorials.org/'%>
				<%= link_to "rails tutorials" , 'http://railstutorials.org'%>
			</li>
		</ul>
	</nav>
</footer>
